@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kanban</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta media="prefers-color-scheme: dark" />
</head>
<body>
    <header class="navbar">
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container navbar">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Kanban</a>*@
                <button class="navbar navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link navbar" asp-area="" asp-controller="Board" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar" asp-area="" asp-controller="Home" asp-action="Register">Register User</a>
                        </li>
                      
                    </ul>
                </div>
            </div>
        </nav>
     @if(@Context.Session.GetString("_Name")!=null && @Context.Session.GetString("_Name")!=String.Empty)
                        {
                            <div style="white-space: nowrap; overflow-x: auto;">
                                    <div id="logout-label" class="logout-label">Welcome&nbsp;<b>@Context.Session.GetString("_Name")</b><a class="logout-user" asp-area="" asp-controller="User" asp-action="LogOutUser">Logout User</a></div>
                            </div>
                        }
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Kanban - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
