@using Kanban.Models
@using Microsoft.AspNetCore.Http
@model Kanban.Models.Task
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kanban</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<script src="https://kit.fontawesome.com/d5cb6dbe34.js" crossorigin="anonymous"></script>

<form asp-action="AddTask" method="get">
    <div class="container">

        <h1>Add new task</h1>
        <p>Please fill in this form to create a new task</p>
        <hr>

        <div class="form-group">
        <label asp-for="Title" class="control-label"><b>Task Title</b></label>
        <input asp-for="Title" class="form-control" type="text" placeholder="Enter task title" id="txtTitle" /> <br />
        </div>

        <div class="form-group">
        <label asp-for="Description" class="control-label"><b>Task Description</b></label>
        <input asp-for="Description" class="form-control" type="text" placeholder="Insert Task Description" id="txtDescription" />
        <br />
        </div>

        <div class="form-group">
        <label asp-for="Priority"><b>Task Priority</b></label>
        <select asp-for="Priority" id="Priority">
            <option value="" selected disabled hidden>Choose status</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select> <br />
        </div>

        <div class="form-group">
        <label asp-for="Status.StatusName" style="position:relative;top:12px;"><b>Task Status</b></label>
        <select asp-for="Status.StatusName" asp-items="Model.TaskStatuses" id="Status" style="position:relative;top:12px;">
            <option value="" selected disabled hidden>Task Status</option>            
        </select> <br />
        </div>

        <div class="form-group">
        <label asp-for="Responsible.EmailAdress" class="control-label" style="position:relative;top:18px;"><b>Task Responsible</b></label><br />
        <input asp-for="Responsible.EmailAdress" class="form-control" type="text" placeholder="Insert Task Responsible" id="txtResponsible" style="width:300px;display:inline-block;position:relative;top:18px;" /><i class="fa fa-user" type="button" value="@Context.Session.GetString("_Email")" style="display:inline-block;position:relative;top:18px;left:10px;height:40px;width:40px;" id="ownUser" onclick="chooseOwn()"></i>
        <br />
        <div class="has-error">
            @Html.ValidationMessage("UserNotOnBoard")
        </div>
        </div>

        @Html.HiddenFor(model => model.Board.Id)

        <button type="submit" class="btn btn-default adding-button" style="position:relative;top:15px;">Add task</button>

    </div>


</form>

<script  type="text/javascript"></script>
<script>
    function chooseOwn() {
        debugger;
        var var1="@Context.Session.GetString("_Email")";
        var textBox=document.getElementById("txtResponsible");
        textBox.value=var1;
        
    };
</script>