@using Kanban.Models
@using Microsoft.AspNetCore.Http
@using Kanban.Services
@using Kanban.Services.Interfaces
@inject Kanban.Services.Interfaces.IUserServices _userService
@inject Kanban.Services.Interfaces.IBoardServices _boardService
@model Kanban.Models.Board

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@Html.HiddenFor(model => model.Id)

<div id="allTasks" class="row"  >

        @foreach (var statusType in Model.BoardTaskStatuses)
        {
            <div class="col" style="border: thin solid black">@Html.DisplayFor(model => statusType.Status.StatusName) @*</div>*@
            @foreach (var item in Model.TasksList)
            {
                @if (item.Status.Id == statusType.Status.Id)
                {
                    
                    <div class="row" style="border: thin solid black">
                        <div class="col" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)">@Html.DisplayFor(modelitem => item.Title)<br />
                            <p>• @Html.DisplayFor(modelitem => item.Description)</p>
                            <i class="fas fa-info-circle" title="View Details" onclick="location.href='@Url.Action("ViewTask","Task",new {id=item.Id})'"></i>
                        </div>
                    </div>
                    
                }
            }
            </div>
        }
</div>
