@using Kanban.Models
@using Microsoft.AspNetCore.Http
@using X.PagedList.Mvc.Core
@using X.PagedList

@model IPagedList<Kanban.Models.Board>


@{
    ViewData["Title"] = "Boards";
}
<h1>@ViewData["Title"]</h1>

<script src="https://kit.fontawesome.com/d5cb6dbe34.js" crossorigin="anonymous"></script>

<button type="button" class="font-family" onclick="location.href='@Url.Action("Project","Board")'" style="font-family:Verdana;background-color: #efefef;font-size:105%;height:3.8%;position:absolute;top:17.5%;left:65%;right:0%;padding:0%;text-align:center;border-radius:4%;width:10%;"><i class="far fa-plus-square" ><i style="font-family:sans-serif;font-style:normal"> Add New Board</i></i></button>

<form asp-controller="Board" asp-action="Index" method='GET'>
    <label>Search for a board:</label>
    <input type='text' name='searchString' />
    <button type='submit' name='submit' value='submit' style="border-radius:20%"><i class="fas fa-search-plus"></i></button>   
</form>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ProjectStatus)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td id="updatedTitle" >
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectStatus)
        </td>
        <td>
            <i class="fas fa-eye" title="View" style="color:#00FF00" onclick="location.href='@Url.Action("ViewBoard","Board",new {id=item.Id})'"></i>
        </td>
        <td>
            <i class="fas fa-edit" title="Edit" style="color:#1E90FF" onclick="location.href='@Url.Action("UpdateBoard","Board",new {id=item.Id})'"></i>
        </td>
        <td>
            <i class="fas fa-trash-alt" title="Delete" style="color:#FF4500" onclick="location.href='@Url.Action("DeleteBoard","Board",new {id=item.Id})'"></i>
        </td>
        <td>

        </td>
    </tr>
}

</table>



    <br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
